* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background: #000;
  color: #fff;
  font-family: 'Roboto' , sans-serif;
}

.clearfix {
  clear: both;
}

.category {
  max-width: 1200px;
  margin: 3rem auto;
}

.category .category__content .category__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.category .category__content .category__nav ul li {
  margin-right: 25px;
}

.category .category__content .category__nav ul li a {
  text-decoration: none;
  padding-bottom: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.category .category__content .category__nav ul li a i {
  margin-right: 15px;
}

.category .category__content .category__nav ul li a:hover {
  color: #00adef;
}

.category .category__content .category__nav ul li .active {
  color: #00adef;
  font-size: 13px;
  font-weight: normal;
  border-bottom: 1px solid #00adef;
}

.category .category__content .category__list .show-more {
  display: none;
}

.category .category__content .category__list .category__item {
  position: relative;
  cursor: pointer;
  border: 1px solid #000;
  max-height: 100%;
}

.category .category__content .category__list .category__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-style: none;
  vertical-align: middle;
}

.category .category__content .category__list .category__item .category__detail {
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  padding: 10px 20px;
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
}

.category .category__content .category__list .category__item .category__detail h1 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category .category__content .category__list .category__item .category__detail p {
  -webkit-transition: .8s;
  transition: .8s;
  opacity: 0;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

.category .category__content .category__list .category__item:hover .category__detail {
  overflow: visible;
  height: 120px;
  background: rgba(0, 0, 0, 0.7);
}

.category .category__content .category__list .category__item:hover .category__detail p {
  opacity: 1;
}

.category .category__content .category__list .btn-show {
  margin: 2rem 0;
  text-align: center;
}

.category .category__content .category__list .btn-show button {
  background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020)) !important;
  background: linear-gradient(#303030, #202020) !important;
  color: #999 !important;
  background-color: transparent;
  border: 1px solid #202020;
  padding: 5px 20px;
  border-radius: 2px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.category .category__content .category__list .btn-show button i {
  margin-right: 2px;
}

.category .category__content .category__list .btn-show button:hover {
  background-color: transparent;
  color: #fff !important;
  border-color: #202020;
}

.category .category__content .category__list .btn-show button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 768px) {
  .category .category__content .category__list .category__item {
    position: unset;
  }
  .category .category__content .category__list .category__item .category__detail {
    height: 40px;
    position: unset;
    display: block;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .category .category__content .category__list .category__item .category__detail p {
    display: none;
  }
}

.channels .container {
  max-width: 1180px !important;
}

.channels .channels__content {
  margin: 0 auto;
}

.channels .channels__content .channels__item {
  margin-bottom: 10px;
  padding-right: 10px;
}

.channels .channels__content .channels__item a {
  position: relative;
  display: block;
}

.channels .channels__content .channels__item a::after {
  content: '';
  background: #00adef;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 0px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.channels .channels__content .channels__item a:hover::after {
  height: 6px;
}

.channels .channels__content .channels__item a img {
  width: 100%;
}

.description {
  margin: 3rem 25px;
}

.description .description__content {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}

.description .description__content .description__intro {
  margin-bottom: 2px;
}

.description .description__content .description__intro nobr {
  margin-right: 25px;
}

.description .description__content .description__intro span.spacer {
  display: inline-block;
  width: 20px;
}

.description .description__content .description__intro .spacer-large {
  height: 1.5rem;
  width: 100%;
}

.description .description__content p {
  margin-bottom: 1rem;
}

.topics {
  margin-right: 25px;
  margin-left: 25px;
}

.topics .topics__content {
  margin: 0 !important;
}

.topics .topics__content .topics__item {
  margin: 0 !important;
  padding: 0 !important;
}

.topics .topics__content .topics__item .topics__headline {
  color: #fff;
  font-size: 2.42857rem;
  font-weight: normal;
}

.topics .topics__content .topics__item hr {
  height: 1px;
  background-color: #999;
  border: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 30px -1px;
  overflow: visible;
}

.topics .topics__content .topics__item ul li {
  list-style: none;
}

.topics .topics__content .topics__item ul li a {
  color: #999;
  font-size: 13px;
  font-weight: normal;
  line-height: 22px;
}

.container-fluid {
  padding-right: 45px;
  padding-left: 45px;
}

header {
  margin: 0 auto;
  width: auto;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-content .header-content-brand {
  width: 30%;
}

header .header-content .header-content-brand a {
  text-decoration: none;
}

header .header-content .header-content-brand a .header-content-brand__logo {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(20%, 35%);
          transform: translate(20%, 35%);
}

header .header-content .header-content-brand a .header-content-brand__brand {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(65%, 130%);
          transform: translate(65%, 130%);
}

header .header-content .header-content-nav {
  width: 70%;
}

header .header-content .header-content-nav .header-content-nav__language {
  text-align: right;
  line-height: 35px;
}

header .header-content .header-content-nav .header-content-nav__language a {
  text-decoration: none;
  color: #fff;
}

header .header-content .header-content-nav .header-content-nav__language a span .header-content-nav__language__i {
  font-family: Bodoni MT;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  padding: 0 5px;
}

header .header-content .header-content-nav .header-content-nav__language a .header-content-nav__languageDe {
  padding-left: 40px;
}

header .header-content .header-content-nav .header-content-nav__language a:hover {
  color: #0088c6;
}

header .header-content .header-content-nav .header-content-nav__language a:hover .header-content-nav__language__i {
  color: #0088c6;
  border: 2px solid #0088c6;
}

header .header-content .header-content-nav .header-content-nav__nav {
  line-height: 75px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-left: 140px;
}

header .header-content .header-content-nav .header-content-nav__nav .bg-dark {
  background-color: #000 !important;
  padding: 0;
}

header .header-content .header-content-nav .header-content-nav__nav .navbar-toggler {
  border: none !important;
  padding: 0;
  color: #fff;
}

header .header-content .header-content-nav .header-content-nav__nav .navbar-collapse {
  text-align: center;
}

header .header-content .header-content-nav .header-content-nav__nav .collapse ul li {
  margin: 0 18px;
}

header .header-content .header-content-nav .header-content-nav__nav .collapse ul li a {
  color: #fff;
}

header .header-content .header-content-nav .header-content-nav__nav .collapse ul li a:hover {
  color: #0088c6;
}

header .header-content .header-content-nav .header-content-nav__nav .collapse ul li .nav-link {
  padding: 0;
}

header .header-content .header-content-nav .header-content-nav__nav .collapse ul .navbar-nav__search {
  margin-right: 0;
}

@media screen and (max-width: 992px) {
  .header-content-brand {
    height: 80px;
    width: 30% !important;
  }
  .header-content-brand .header-content-brand__logo {
    width: 44px;
    height: 44px;
    -webkit-transform: translate(-50%, 40%) !important;
            transform: translate(-50%, 40%) !important;
  }
  .header-content-brand .header-content-brand__brand {
    height: 23px;
    width: 91px;
    -webkit-transform: translate(15%, 110%) !important;
            transform: translate(15%, 110%) !important;
  }
  .header-content-nav {
    width: 70% !important;
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
  .header-content-nav .header-content-nav__nav {
    line-height: 50px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header-content-nav .header-content-nav__nav button {
    -webkit-transform: translateX(1420%);
            transform: translateX(1420%);
  }
  .header-content-nav .header-content-nav__nav .navbar-collapse {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  .header-content-nav .header-content-nav__nav .navbar-collapse .navbar-nav .navbar-nav__search {
    margin: 0 18px !important;
  }
}

@media screen and (max-width: 768px) {
  .header-content-brand {
    height: 80px;
    width: 30% !important;
  }
  .header-content-brand .header-content-brand__logo {
    width: 44px;
    height: 44px;
    -webkit-transform: translate(-50%, 40%) !important;
            transform: translate(-50%, 40%) !important;
  }
  .header-content-brand .header-content-brand__brand {
    height: 23px;
    width: 91px;
    -webkit-transform: translate(15%, 110%) !important;
            transform: translate(15%, 110%) !important;
  }
  .header-content-nav {
    width: 70% !important;
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
  .header-content-nav .header-content-nav__language span .header-content-nav__language__provider {
    display: none;
  }
  .header-content-nav .header-content-nav__language .header-content-nav__languageDe {
    padding-left: 20px !important;
  }
  .header-content-nav .header-content-nav__nav {
    line-height: 50px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header-content-nav .header-content-nav__nav button {
    -webkit-transform: translateX(960%);
            transform: translateX(960%);
  }
  .header-content-nav .header-content-nav__nav .navbar-collapse {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header-content-nav .header-content-nav__nav .navbar-collapse .navbar-nav .navbar-nav__search {
    margin: 0 18px !important;
  }
}

@media screen and (max-width: 576px) {
  .header-content-brand {
    height: 80px;
    width: 50% !important;
  }
  .header-content-brand .header-content-brand__logo {
    width: 44px;
    height: 44px;
  }
  .header-content-nav__nav {
    line-height: 50px !important;
    width: 50% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header-content-nav__nav button {
    -webkit-transform: translateX(360%) !important;
            transform: translateX(360%) !important;
  }
  .header-content-nav__nav .navbar-collapse {
    -webkit-transform: translateX(-130%) !important;
            transform: translateX(-130%) !important;
  }
  .header-content-nav__nav .navbar-collapse .navbar-nav .navbar-nav__search {
    margin: 0 18px !important;
  }
}

.carousel .carousel-caption {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-110%, -89%);
          transform: translate(-110%, -89%);
  text-align: left;
  color: #fff;
}

.carousel .carousel-caption button {
  width: 115px;
  height: 37px;
  background-color: #333333;
  color: #fff;
  border: none;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.carousel .carousel-caption button:hover {
  background-color: #1f1f1f;
}

.carousel .carousel-caption .carousel-caption__info {
  -webkit-transform: translateY(600%);
          transform: translateY(600%);
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}

.carousel .carousel-caption__color {
  color: #000;
}

.carousel .search-bar {
  background-color: #141414;
}

.carousel .search-bar .search-bar__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.carousel .search-bar .search-bar__detail form {
  width: 100%;
}

.carousel .search-bar .search-bar__detail form input {
  background-color: #ececec;
  width: 100%;
  height: 2.855rem;
  padding: 0 10px;
  border: none;
}

.carousel .search-bar .search-bar__detail form button {
  background-color: #ececec;
  position: absolute;
  -webkit-transform: translate(-200%, 45%);
          transform: translate(-200%, 45%);
  border: none;
}

@media screen and (max-width: 1200px) {
  .carousel-caption {
    display: block !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-10%, -90%);
            transform: translate(-10%, -90%);
  }
  .carousel-caption h1 {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
  }
  .carousel-caption__color h1 {
    color: #000 !important;
  }
}

@media screen and (max-width: 992px) {
  .carousel-caption {
    display: block !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-10%, -90%);
            transform: translate(-10%, -90%);
  }
  .carousel-caption h1 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
  }
  .carousel-caption__color h1 {
    color: #000 !important;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption {
    display: block !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-10%, -90%);
            transform: translate(-10%, -90%);
  }
  .carousel-caption h1 {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
  }
  .carousel-caption__color h1 {
    color: #000 !important;
  }
}

@media screen and (max-width: 576px) {
  .carousel-caption {
    display: block !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-10%, -90%);
            transform: translate(-10%, -90%);
  }
  .carousel-caption h1 {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
  }
  .carousel-caption__color h1 {
    color: #000 !important;
  }
}

.intro .intro__content {
  padding: 0;
}

.intro .intro__content .intro__detail {
  padding: 6rem 0;
  width: 100%;
  text-align: left;
}

.intro .intro__content .intro__detail h2 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
}

.intro .intro__content .intro__detail p {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}

.intro .intro__content .intro__detail button {
  background-color: #00adef;
  color: #fff;
  height: 2.3rem;
  padding: 0 10px;
  border: 0;
}

.intro .intro__content .intro__detail button:hover {
  background-color: #006c95;
}
/*# sourceMappingURL=main.css.map */