* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background: #000;
  color: #fff;
  font-family: 'Roboto' , sans-serif;
}

.category {
  max-width: 1200px;
  margin: 3rem auto;
}

.category .category__content .category__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.category .category__content .category__nav ul li {
  margin-right: 25px;
}

.category .category__content .category__nav ul li a {
  text-decoration: none;
  padding-bottom: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.category .category__content .category__nav ul li a i {
  margin-right: 15px;
}

.category .category__content .category__nav ul li a:hover {
  color: #00adef;
}

.category .category__content .category__nav ul li .active {
  color: #00adef;
  font-size: 13px;
  font-weight: normal;
  border-bottom: 1px solid #00adef;
}

.category .category__content .category__list .show-more {
  display: none;
}

.category .category__content .category__list .category__item {
  position: relative;
  cursor: pointer;
  border: 1px solid #000;
  max-height: 100%;
}

.category .category__content .category__list .category__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-style: none;
  vertical-align: middle;
}

.category .category__content .category__list .category__item .category__detail {
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  padding: 10px 20px;
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
}

.category .category__content .category__list .category__item .category__detail h1 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category .category__content .category__list .category__item .category__detail p {
  -webkit-transition: .8s;
  transition: .8s;
  opacity: 0;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

.category .category__content .category__list .category__item:hover .category__detail {
  overflow: visible;
  height: 120px;
  background: rgba(0, 0, 0, 0.7);
}

.category .category__content .category__list .category__item:hover .category__detail p {
  opacity: 1;
}

.category .category__content .category__list .btn-show {
  margin: 2rem 0;
  text-align: center;
}

.category .category__content .category__list .btn-show button {
  background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020)) !important;
  background: linear-gradient(#303030, #202020) !important;
  color: #999 !important;
  background-color: transparent;
  border: 1px solid #202020;
  padding: 5px 20px;
  border-radius: 2px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.category .category__content .category__list .btn-show button i {
  margin-right: 2px;
}

.category .category__content .category__list .btn-show button:hover {
  background-color: transparent;
  color: #fff !important;
  border-color: #202020;
}

.category .category__content .category__list .btn-show button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 768px) {
  .category .category__content .category__list .category__item {
    position: unset;
  }
  .category .category__content .category__list .category__item .category__detail {
    height: 40px;
    position: unset;
    display: block;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .category .category__content .category__list .category__item .category__detail p {
    display: none;
  }
}

.channels .container {
  max-width: 1180px !important;
}

.channels .channels__content {
  margin: 0 auto;
}

.channels .channels__content .channels__item {
  margin-bottom: 10px;
  padding-right: 10px;
}

.channels .channels__content .channels__item a {
  position: relative;
  display: block;
}

.channels .channels__content .channels__item a::after {
  content: '';
  background: #00adef;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 0px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.channels .channels__content .channels__item a:hover::after {
  height: 6px;
}

.channels .channels__content .channels__item a img {
  width: 100%;
}

.description {
  margin-top: 5rem;
}

.description .description__content {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}

.description .description__content .description__intro {
  margin-bottom: 2px;
}

.description .description__content .description__intro nobr {
  margin-right: 25px;
}

.description .description__content .description__intro span.spacer {
  display: inline-block;
  width: 20px;
}

.description .description__content .description__intro .spacer-large {
  height: 1.5rem;
  width: 100%;
}

.description .description__content p {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=main.css.map */