* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: sans-serif;
}

.channels .container {
    max-width: 1376px;
    width: 100%;
}

.channels .channels__content .channels__item {
    margin-top: 30px;
}

.channels .channels__content .channels__item a img {
    width: 100%;
}

.channels .channels__content .channels__item a {
    display: block;
    position: relative;
}

.channels .channels__content .channels__item a::after {
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background: #00adef;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.channels .channels__content .channels__item a:hover::after {
    color: #00adef;
    text-decoration: underline;
    opacity: 1;
    height: 7px;
}