@mixin text ($color, $fs , $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin button ($bg-color,$border-color ,$pd-y, $pd-x, $radius) {
    background-color: $bg-color;
    border: 1px solid $border-color;
    padding: $pd-y $pd-x;
    border-radius: $radius;
}

@mixin buttonHover($bg-color, $color, $border-color) {
    background-color: $bg-color;
    color: $color;
    border-color: $border-color;
}

@mixin responsive($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width:$value){
            @content;
        }
    }
    @else {
        @warn "Unavailable screen";
    }
}