footer {
    .footer-content {
        .footer-content__info {
            p {
                @include text($color-gray-1, $fs-1, $fw-normal);
                a {
                    text-decoration: none;
                    @include text($color-white, $fs-1, $fw-normal);
                    &:hover {
                        color: $color-blue-1;
                    }
                }
            }
        }
        .space-huge{
            height: 2.5rem;
        }
        .footer-content__footer {
            .footer__float {
                float: left;
            }
            .footer-content__footer__language {
                span {
                    a {
                        text-decoration: none;
                        @include text($color-white, $fs-0, $fw-normal);
                        &:hover {
                            color: $color-blue-1;
                        }
                    }
                    .default {
                        color: $color-blue-1;
                    }
                }
            }
            .footer-content__footer__list {
                .list__float {
                    float: left;
                    padding: 0;
                }
                .footer-content__footer__list__provider {
                    text-align: right;
                    ul {
                        li {
                            list-style-type: none;
                            display: inline-block;
                            a {
                                text-decoration: none;
                                @include text($color-gray-1, $fs-1, $fw-normal);
                                padding: 0 9px;
                                &:hover {
                                    color: $color-blue-1;
                                }
                            }
                        }
                    }
                }
                .footer-content__footer__list__newfeeds {
                    ul {
                        li {
                            list-style-type: none;
                            display: inline-block;
                            a {
                                text-decoration: none;
                                @include text($color-gray-1, $fs-1, $fw-normal);
                                padding: 0 10px;
                                &:hover {
                                    color: $color-blue-1;
                                }
                            }
                        }
                    }
                }
            }
            .footer-content__footer__top {
                text-align: right;
                a {
                    text-decoration: none;
                    span{
                        @include text($color-gray-1, $fs-1, $fw-normal);
                        &:hover {
                            color: $color-blue-1;
                        }
                    }
                    
                }
            }
        }
    }
    /////////////////////// Tu
    .footer__cta {
        position: fixed;
        right: 0;
        top: 40%;
        z-index: 20;
        ul {
            li {
                list-style: none;
                background-color: $color-black-3;
                padding-left: $pd-1;
                padding-right: 120px;
                padding-top: $pd-1;
                margin: 1px 0;
                height: 44px;
                cursor: pointer;
                transform: translateX(270px);
                transition: 0.8s;
                &:hover {
                    transform: translateX(0);
                }
                a {
                    vertical-align: baseline;
                    text-decoration: none;
                    @include text($color-white, $fs-2 - 3, $fw-normal);
                    i {
                        margin-right: $mg-1;
                        font-size: $fs-3;
                    }
                }
            }
        }
    }
    ///////////////////////
}

//Responsive
@include responsive("extra-large"){
    .footer-content__footer{
        .footer-content__footer__list{
            .footer-content__footer__list__newfeeds{
                text-align: right;
            }
        }
    }
}
@include responsive("large"){
    .footer-content__footer{
        .footer-content__footer__list{
            .footer-content__footer__list__provider{
                text-align: left!important;
                ul{
                    .hide{
                        a{
                            padding-left: 0!important;
                        }                       
                    }
                }
            }
            .footer-content__footer__list__newfeeds{
                text-align: left;
                ul{
                    .hide{
                        a{
                            padding-left: 0!important;
                        }                       
                    }
                }
            }
        }
    }
}
@include responsive("medium"){
    .footer-content__info{
        text-align: center;
    }
    .footer-content__footer{
        .footer-content__footer__list{
            .footer-content__footer__list__provider{
                text-align: left!important;
                ul{
                    .hide{
                        a{
                            padding-left: 0!important;
                        }                       
                    }
                }
            }
            .footer-content__footer__list__newfeeds{
                text-align: left;
                ul{
                    .hide{
                        a{
                            padding-left: 0!important;
                        } 
                    }
                }
            }
        }
    }
}
