.container-fluid {
    padding-right: 45px;
    padding-left: 45px;
}

header {
    margin: 0 auto;
    width: auto;
    .header-content{
        .header-content-provider{
            text-align: right;
            a {
                text-decoration: none;
                color: $color-white;
                span {
                    .header-content-nav__language__i {
                        font-family: Bodoni MT;
                        @include text($color-white, $fs-0, $fw-normal);
                        width: 15px;
                        height: 15px;
                        border: 2px solid $color-white;
                        padding: 0 5px;
                    }
                }
                .header-content-nav__languageDe {
                    padding-left: 40px;
                }
                &:hover {
                    color: $color-blue-2;
                    .header-content-nav__language__i {
                        color: $color-blue-2;
                        border: 2px solid $color-blue-2;
                    }
                }
            }
        }
        .header-content-navbar{
            .bg-dark {
                background-color: $color-black-1!important;
                padding: 0;
            }
            .navbar-brand{
                width: 38%;
                .header-content-brand__logo{
                    transform: translate(20%, -15%);
                }
                .header-content-brand__brand{
                    transform: translate(60%, 5%);
                }
            }
            .navbar-toggler {
                border: none !important;
                padding: 0;
                color: $color-white;
            }
            .navbar-collapse {
                text-align: center;
            }
            .collapse {
                ul {
                    line-height: 45px;
                    li {
                        margin: 0 18px;
                        a {
                            color: $color-white;
                            &:hover {
                                color: $color-blue-2;
                            }
                        }
                        .nav-link {
                            padding: 0;
                        }
                    }
                    .navbar-nav__search {
                        margin-right: 0;
                    }
                }
            }
        }
    }    
}

//Responsive
@include responsive("extra-large"){

}
@include responsive("large"){
    header{
        
        .navbar-brand{
            height: 50px;
            width: 30% !important;
            .header-content-brand__logo {
                width: 44px;
                height: 44px;
                transform: translate(-50%, -25%) !important;
            }
            .header-content-brand__brand {
                height: 23px;
                width: 91px;
                transform: translate(15%, -20%) !important;
            }
        }
        .collapse{
            .navbar-nav{
                .navbar-nav__search{
                    margin: 0 auto!important;
                }
            }
        }
    }
    
}
@include responsive("medium"){
    .header-content-nav__language {
        span {
            .header-content-nav__language__provider {
                display: none;
            }
        }
        .header-content-nav__languageDe {
            padding-left: 20px !important;
        }
    }
}